.navbar {
    margin-bottom: 0;
    background-color: #656565;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #47bfbf !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.slideshow-container {
    width: 100%;
}
.imgSlide {
    display: none;
    position: relative;
}
.slideImg {
    vertical-align: middle;
    width: 100%;
    border-radius: 20px;
}
.caption {
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
