.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}
.jumbotron {
    background-color: #2b65d6;
    color: #ffffff;
    padding: 60px 25px;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar {
    margin-top: -1px;
    margin-bottom: 0;
    background-color: #2b65d6;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.form-inline {
    justify-content: center;
}

.navbar li a, .navbar .navbar-brand {
    color: #ececec !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fa6161 !important;
    background-color: #ffffff !important;
}

.logo {
    font-size: 200px;
}
#about {
  background-color: #c9c9c9;
  margin-bottom: 30px;
}
#about .row {
    padding: 20px;
}
.far.fa-handshake {
    vertical-align: middle;
    font-size: 150px;
}
  .iconBox:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.item span {
    font-style: normal;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2b65d6;
}
